@using MfePoc.Generation.Contract 
@{
    this.SetAppLayout(
        title: "Dashboard",
        baseUrl: "/Dashboard/");
}

<p>
    This is the colour factory Dashboard.
</p>
<p>
    The main view is rendered using server-side MVC, but the colour controls are served (in iFrames) from
    the other modules.
</p>

<div class="container">

    <div class="row">

        <div class="col-sm-6">
            @GenerationControls.ColourGenerators()
        </div>

        <div class="col-sm-6">
            @GenerationControls.StockLevels()
        </div>

    </div>

</div>

<p>
    This page was rendered from process Id=@System.Diagnostics.Process.GetCurrentProcess().Id Framework=@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
</p>

@section Scripts {
    <script>

        $(function () {
            var hub = new signalR.HubConnectionBuilder()
                .withUrl("/Dashboard/hub")
                .build();

            hub.on("notify", function (message) {
                notify(message);
            });

            hub.start().then(function () {
                notify("Dashboard started");
            });
        });

        function notify(message) {
            $.notify(message, { delay: 350, timer: 10, allow_dismiss: false, placement: { from: "bottom", align: "right" } });
        }

    </script>
} 