@{
    this.SetAppLayout(
        title: "Dashboard",
        baseUrl: "/Dashboard/");
}

<p>
    This is the colour factory Dashboard, and is implemented using server-side MVC.
</p>
<p>
    This was rendered from process Id=@System.Diagnostics.Process.GetCurrentProcess().Id Framework=@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
</p>
