@{
    this.SetAppLayout(
        title: "Home Page",
        baseUrl: null);
}

<h1 class="display-4">Welcome</h1>
<p>
    A proof of concept demonstrating mixing:
    <ul>
        <li>Traditional MVC (i.e., server-side .cshtml);</li>
        <li>Blazor server-side;</li>
        <li>Blazor client-side.</li>
    </ul>
</p>
<p>
    Each technology is hosted in its own process.
</p>
<p>
    This was rendered from process Id=@System.Diagnostics.Process.GetCurrentProcess().Id Framework=@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
</p>
