@page "/"

<h2>Colour Reporting Service</h2>

<p>This is the colour reporting module.  It reports on the sales of colours made.</p>

<p>This modules uses Blazor client-side.</p>

<SalesReport />

<HostDetail />
