@inject NavigationManager NavManager

<button class="btn btn-warning">Generate Yellow</button>
<div style="padding-top:8px"></div>
<button class="btn btn-info">Generate Cyan</button>
<div style="padding-top:8px"></div>
<button class="btn btn-magenta">Generate Magenta</button>

@code {

}
