<p>Rendered from process Id=@_processId Framework=@_framework</p>

@code {
    private int _processId = System.Diagnostics.Process.GetCurrentProcess().Id;
    private string _framework = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
}
