@page "/"
@namespace MfePoc.Generation.Pages
@using MfePoc.Shared.Views.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    this.SetAppLayout(
        title: "Generation",
        baseUrl: "/Generation/",
        enableBlazorServerSide: true);
}

<div>
    <component type="typeof(App)" render-mode="Server" />
</div>
