@page "/"

<h2>Colour Service</h2>

<p>This modules uses Blazor server-side, implemented in BlazorSS1</p>

<p>This is the colour service.  It generates and maintains the stock of Red, Green, and Blue.</p>

<p>To generate colours, use:</p>

<div>
    <ul>
        <li><a href="GenerateRed">Generate Red</a></li>
        <li><a href="GenerateGreen">Generate Green</a></li>
        <li><a href="GenerateBlue">Generate Blue</a></li>
    </ul>
</div>

<StockLevels />

<br/>

<HostDetail />
