@page "/"

<h2>Colour Generation Service</h2>

<p>This module is the colour generation service.  It generates and maintains the stock of the primary colours Red, Green, and Blue.</p>

<p>This modules uses Blazor server-side</p>


<p>To generate colours, use:</p>

<div>
    <ul>
        <li><a href="GenerateRed">Generate Red</a></li>
        <li><a href="GenerateGreen">Generate Green</a></li>
        <li><a href="GenerateBlue">Generate Blue</a></li>
    </ul>
</div>

<StockLevels />

<br />

<HostDetail />
