@page "/"
@namespace MfePoc.BlazorCS1.Pages
@using MfePoc.Shared.Views.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    this.SetAppLayout(
        title: "BlazorCS1",
        baseUrl: "/BlazorCS1/",
        enableBlazorClientSide: true);
}

<div id="app">Loading...</div>
