@inject IJSRuntime Js
@inject NavigationManager NavManager

@if (_sales != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (_sales.Items?.Count == 0)
            {
                <tr>
                    <td colspan="3" style="text-align: center;">No sales executed.</td>
                </tr>
            }
            else
            {
                @foreach (var sale in _sales.Items)
                {
                    <tr>
                        <td>@sale.WhenUtc.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@sale.Description</td>
                        <td>@($"£{sale.Amount:0.00}")</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <p style="margin-top: 20px;">Total: @($"£{_sales.Total:0.00}")</p>
}

@code {

    private ClientHub.Sales _sales;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await Js.InvokeVoidAsync("resizeIframe");
    }

    private async Task Refresh()
    {
        var hub = await ClientHub.GetStartedHubAsync(NavManager);
        _sales = await hub.RequestSalesAsync();
        await InvokeAsync(StateHasChanged);
    }

}
