@inject NavigationManager NavManager

<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">No sales executed.</td>
        </tr>
        <tr>
            <td>2004-03-02 12:32</td>
            <td>Some stuff</td>
            <td>£123.00</td>
        </tr>
    </tbody>
</table>

<p style="margin-top: 20px;">Total: £123.45</p>

@code {
}
