@page "/Control"
@namespace MfePoc.Generation.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/_content/MfePoc.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/_content/MfePoc.Shared/css/site.css" asp-append-version="true" />
    <base href="/Generation/" />

    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>

    @{
        var controlName = Request.Query["control"];
        var controlType = typeof(App).Assembly.GetTypes().Single(t => t.Name == controlName);
    }
    <component type="controlType" render-mode="Server" />

    <script src="~/_content/MfePoc.Shared/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/_content/MfePoc.Shared/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_content/MfePoc.Shared/js/mfeNotify.js" asp-append-version="true"></script>

    <script src="/Generation/_framework/blazor.server.js"></script>
    <script src="~/_content/MfePoc.Shared/js/blazorServerReload.js" asp-append-version="true"></script>

</body>
</html>
