
@RenderButton()

<br />
<br />

<a href="">Back</a>

<br />
<br />

<StockLevels />

<HostDetail />

@code {

    [Parameter]
    public Type Generate { get; set; }

    private RenderFragment RenderButton()
    {
        return builder =>
        {
            builder.OpenComponent(0, Generate);
            builder.CloseComponent();
        };
    }
}
