@{
    ViewData["Title"] = "Dashboard";
}

<p>
    Dashboard.  The main view is server-side MVC.
</p>
<p>
    This was rendered from process Id=@System.Diagnostics.Process.GetCurrentProcess().Id
</p>
