@{
    ViewData["Title"] = "Dashboard";
}

<p>
    Dashboard.  This view is rendered server-side using MVC.
</p>
<p>
    This was rendered from process Id=@System.Diagnostics.Process.GetCurrentProcess().Id Framework=@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
</p>
