@implements IDisposable
@inject StockDb StockDb

<div class="bg-danger text-white stock-counter">
    @StockDb.Red
</div>

<div class="bg-success text-white stock-counter">
    @StockDb.Green
</div>

<div class="bg-primary text-white stock-counter">
    @StockDb.Blue
</div>

@code {

    override protected void OnInitialized()
    {
        base.OnInitialized();
        StockDb.OnStockUpdateAsync += Refresh;
    }

    private async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        StockDb.OnStockUpdateAsync -= Refresh;
    }

}
