@inject StockDb StockDb

<button class="@StockButtonCss" @onclick=@DoStockAction>@Text</button>

@code {

    [Parameter]
    public string StockButtonCss { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public Func<StockDb, Task> StockActionAsync { get; set; }

    private async Task DoStockAction()
    {
        await StockActionAsync(StockDb);
    }
}
