@page "/"
@namespace BlazorSS1.Pages
@using BlazorSS1.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_appLayout";
    ViewData["BaseUrl"] = "/BlazorSS1/";
}

<div>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
</div>

<div>
    <component type="typeof(HostDetail)" render-mode="Server" />
</div>

<script src="_framework/blazor.server.js"></script>
