@page "/"
@namespace BlazorSS1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_appLayout";
    ViewData["BaseUrl"] = "/BlazorSS1/";
}

<div>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
</div>

@section Scripts {
    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        window.Blazor.start();
    </script>
}
