@page "/GenerateRed"

<button class="btn btn-primary" @onclick="Generate">Generate Red</button>

<br />

<a href="">Back</a>

<StockLevels @ref="_stockLevels" />

<HostDetail />

@code {

    protected StockLevels _stockLevels;

    private void Generate()
    {
        Stock.GenerateRed();
        _stockLevels.Refresh();
    }
}