@page "/"
@inject NavigationManager NavManager

<h2>Colour Mixing Service</h2>

<p>This module is the colour mixing service.  It mixes primary colours generated from the generation service to make secondary colours.</p>

<p>This modules uses Blazor client-side.</p>

<HostDetail />
