@page "/"
@inject NavigationManager NavManager

<h2>Colour Mixing Service</h2>

<p>This is the colour mixing module.  It mixes primary colours generated from the generation module to make secondary colours.</p>

<p>This modules uses Blazor client-side.</p>

<p>
    <a href="mix">Mix Colours</a>
</p>

<HostDetail />
