@page "/"

<h2>Sales Service</h2>

<p>This module is the sales service.  It sells secondary colours mixed by the mixing service, and white packages (consisting of all the seconday colours).</p>

<p>This module uses Blazor server-side.</p>

@((MarkupString)Mixing.Contract.MixingControls.StockLevels().Value)

<SellControls />

<br />
<br />

<HostDetail />
